<launch>
  <arg name="debug" default="false" />
  
  <arg name="launch_prefix" value="xterm -e gdb --args" if="$(arg debug)" />
  <arg name="launch_prefix" value="" unless="$(arg debug)" />

	<arg name="cHeight" default="240" />
	<arg name="cWidth" default="320" />
	<arg name="dHeight" default="360" />
	<arg name="dWidth" default="480" />
	<arg name="dFPS" default="30" />
	<arg name="cFPS" default="30" />
	<arg name="colorCamera" default="/dev/video1" />
	<arg name="depthCamera" default="/dev/video2" />
	<arg name="pcScale" default="1000" />
	<arg name="enableDepth" default="1" />
	<arg name="enableColor" default="1" />
	<arg name="directory" default="0" />
	<arg name="playFromFile" default="0" />
	<arg name="recordToFile" default="0" />
	<arg name="serialNumber" default="-1" />
	
  	<node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
  	
	<node pkg="nodelet" type="nodelet" name="CR200Nodelet"
        args="load r200_ros/CR200Nodelet standalone_nodelet 
        pcScale $(arg pcScale)
        cHeight $(arg cHeight) 
        cWidth $(arg cWidth)
        dHeight $(arg dHeight)
        dWidth $(arg dWidth)
        colorCamera $(arg colorCamera)
        depthCamera $(arg depthCamera)
        enableColor $(arg enableColor)
        enableDepth $(arg enableDepth)
        directory $(arg directory)
        playFromFile $(arg playFromFile)
        recordToFile $(arg recordToFile)
        serialNumber $(arg serialNumber)">
  	</node>
  	
	
	<node pkg="nodelet" type="nodelet" name="Register" args="load depth_image_proc/register standalone_nodelet">
		<remap from="rgb/camera_info" to="/camera/rgb/camera_info" />
		<remap from="depth/camera_info" to="/camera/depth/camera_info" />
		<remap from="depth/image_rect" to="/camera/depth/image_rect_raw" />
        </node>

	  <node launch-prefix="$(arg launch_prefix)" pkg="dvo_slam" type="camera_keyframe_tracker" name="camera_tracker" output="screen">
	    <remap from="camera/rgb/image_rect" to="/camera/rgb/image_raw" />
	    <remap from="camera/rgb/camera_info" to="/camera/rgb/camera_info" />
	    <remap from="camera/depth_registered/image_rect_raw" to="/camera/depth_registered/image_raw" />
	    <remap from="camera/depth_registered/camera_info" to="/camera/depth_registered/camera_info" />
	    
	
	    <param name="reconstruction" type="bool" value="true" />
	    <param name="use_weighting" type="bool" value="true" />
	  </node>
  
</launch>
